abbr{
	border-bottom: 1px dotted black;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Roboto', sans-serif;
}

html{
	font-size: 14px;
}

#message-list li{
	margin-bottom: 20px;
}

#message-input{
	width: 100%;
	font-size: 1em;
	line-height: 1.6;
	padding: 10px;
	border-style: double;
	border-width: 3px;
	border-color: rgb(200,200,200);
	outline: none;
}

p{
	margin: 5px 0;
}

#message-input:focus{
	border-color: rgba(255,127,80,1);
}

.user-icon{
	color: white;
	background: coral;
	border: 1px solid darkgray;
	line-height: 20px;
	font-size: 1.2em;
	width: 20px;
	padding: 8px;
	font-weight: 700;
	float: left;
}

.user-name{
	font-weight: 700;
}

.message{
}



.user-icon abbr{
	border-bottom: none;
}

.icon-column{
	float: left;
	width: 50px;
}

.messages-column{
	float: left;
	width: calc(100% - 50px);
}

.timestamp{
	color: rgb(200,200,200);
	font-size: 0.8em;
	margin-left: 10px;
}

.clearfix:before,
.clearfix:after{
	display: table;
	content: " ";
}

.clearfix:after{
	clear: both;
}